@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 768px) 
and (-webkit-min-device-pixel-ratio: 2) {

	nav {
		height: 80px;
		padding: 0 5%;
	}

	@keyframes hideloader {
	    from { 
	        height: 100%;
	    }
	    to { 
	        height: 80px;
	    }
	}

	.circle-img img {
	    width: auto;
	    height: 80px;
	}

	.name img {
	    width: 160px;
	    height: auto;
	}

	.logo img {
	    width: auto;
	    height: 55%;
	}

	.menu {
	    position: fixed;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    top: 80px;
	    left: 0;
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    height: calc(100% - 80px);
	    z-index: 666;
	    background: #000;
	    transition: all .3s ease;
	    transform: translate(-100%, 0);
	}

	.open-menu {
		transform: translate(0,0);
	}

	.open-menu .menu-content .link,
	.open-menu .menu-content .btn {
		transition: all .3s ease;
		animation: showlink .3s forwards;
		animation-delay: .3s;
		transform: translate(0,20px);
	}

	@keyframes showlink {
		from {
			opacity: 0;
			transform: translate(0,20px);
		}
		to {
			opacity: 1;
			transform: translate(0,0);
		}
	}

	.open-icon {
		background: #d11141 !important;
	}

	.open-icon .icon-menu {
		display: none;
	}

	.open-icon .icon-close {
		display: block;
	}

	.icon-close {
		display: none;
	}

	.menu-content {
	    position: relative;
	    display: block;
	    float: left;
	    width: auto;
	    height: auto;
	    padding: 0;
	    margin: 0;
	}

	.menu-content .btn {
		opacity: 0;
	}

	.menu-content .link {
		display: flex;
		align-items: center;
		justify-content: center;
	    width: 100%;
	    margin: 0 0 10% 0;
	    color: #fff;
	    opacity: 0;
	    font-size: 16px;
	}

	.menu-content .link:first-child {
	    margin: 0 0 10% 0;
	}

	.menu-content .link:last-child {
	    margin: 0;
	}

	.menu-content .link ion-icon {
		font-size: 22px;
		margin: 0 5px 0 0;
	}

	.links .link {
		display: none;
	}

	.btn {
		display: flex;
		margin: 0 0 0 15px;
		padding: 0;
		width: 40px;
		height: 40px;
		color: #fff;
		background: #000;
	}

	.btn:first-child {
		margin: 0;
	}

	.btn span {
		display: none;
	}

	.btn ion-icon {
	    font-size: 24px;
	    margin: 0;
	}

	.section-shape {
		display: none;
	}

	article {
		display: block;
    	padding: 0 5%;
	}

	.info {
		width: 100%;
	    padding: 10% 6%;
		margin: 0 0 10% 0;
		border-radius: 10px;
	}

	.info-icon ion-icon {
	    font-size: 4em;
	}

	.info-description {
	    font-size: 14px;
	}

	.section-1 {
		padding: 80px 5% 0 5%;
	}

	.text {
		width: 100%;
		height: 50%;
		padding: 0;
		margin: 0;
	}

	.title {
		justify-content: center;
		width: 100%;
		margin: 0 0 5% 0;
		font-size: 18px;
		line-height: normal;
	}

	.description {
		font-size: 14px;
		text-align: center;
		margin: 0 0 5% 0;
	}

	.btn-more {
		float: none;
		width: 50%;
		margin: 0 auto;
		font-size: 14px;
	}

	.btn-more ion-icon {
		display: none !important;
	}

	.copyright {
		font-size: 10px;
		text-align: center;
	}

	.image {
	    justify-content: center;
	    width: 100%;
	    height: 50%;
	    padding: 0;
	    margin: 0;
	}

	.form-container {
	    margin: 80px 0 0 0;
	    padding: 15% 5%;
	}

	.field-title {
		font-size: 24px;
		margin: 0 0 10% 0;
	}

	input,
	select {
	    padding: 0 15px;
	    height: 45px;
	    line-height: 45px;
	}

	.btn-submit {
		width: 100% !important;
		line-height: 40px !important;
	}

	.text-yellow .content .title {
	    width: 100%;
	    justify-content: center;
	}

	.text-yellow .content .description {
	    text-align: center;
	}

	.text-yellow .content .btn-more {
	    float: none;
	}

	.text-yellow .content .copyright {
	    text-align: center;
	}

	.image-yellow {
		position: absolute;
		bottom: 0;
	}

	.section {
		height: auto;
		padding: 80px 5% 0;
	}

	.row {
	    display: block;
	    width: 100%;
	    height: auto;
	}

	.section-text,
	.section-image {
	    width: 100%;
	    height: 40vh;
	}

	.section-image {
	    align-items: flex-end;
	    justify-content: center;
	}

	.section-image img {
	    height: 100%;
	}

	.section-more {
	    display: block;
	    height: auto;
	}

	.section-article {
	    width: 100%;
	    height: auto;
	    padding: 15px;
	    margin: 0 0 5% 0;
	    border-radius: 10px;
	}

	.section-article:last-child {
	    margin: 0 0 5% 0;
	}

	.article-icon ion-icon {
	    font-size: 45px;
	    color: #fff;
	}

	footer {
	    height: 40px;
	    font-size: 8px;
	}

}